.Order {
  width: 90%;
  box-shadow: 0 2px 3px #ccc;
  padding: 20px 20px;
  margin: 15px auto;
  border-radius: 11px;
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
}

.Ingredient {
  display: inline-block;
  margin: 2px 5px;
  border-radius: 32px;
  padding: 5px 12px;
  background-color: #fff4e5;
  color: #212121;
  font-size: 14px;
}
