.Box {
  background-color: #fff;
  border-radius: 25px;
  border: 8px solid #323232;
  box-sizing: border-box;
  cursor: pointer;
}

.Box h3 {
  margin: 5px 0;
  text-align: center;
  color: #212121;
}

.SlickSlide {
  height: 120px;
}

.SlickSlide img {
  height: 100%;
  width: 100%;
  border-radius: 11px 11px 0 0;
}

@media (min-width: 500px) {
  .SlickSlide {
    height: 180px;
  }
}
