.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 9px 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  border: 1px solid #fec341;
}

.Invalid {
  border: 1px solid #f44336;
}
